@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* PAGINA 1 */

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white; 
    margin: 3.5em 6em;
    font-family: "Inter", serif;
    font-weight: 300;
}

header img {
    width: 10%;
}

main h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin-top: 1.2em;
    line-height: 0.8;
}

main h3{
    color: #d20094;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    margin-bottom: 0;
}

p{    
    margin-top: 0.3em;
    margin-bottom: 2.5em;
}


ul {
    padding-left: 2em;
    line-height: 1.5;
    margin-bottom: 8em;
}
   
form button {
    margin-left: 15rem;
}

input[type="checkbox"] { 
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: transparent;  
    border-radius: 3px; 
    cursor: pointer; 
    display: inline-block;
    margin-right: 1em;
    border: solid 2px white;
    
}

input[type="checkbox"]:checked { 
    appearance: auto;
}

footer input, span, button{
    vertical-align:middle;
}

form span {
    font-weight: bold;
    font-size: 14px;
}

.bottoni {
    background-color: #00FFFF;
    padding: 0.6em 2.1em;
    color: #0B113B;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 0px 15px 2px rgba(0,255,255,0.86);
    border: none;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0B113B;
}

/* PAGINA 2 */

section {
    text-align: center;
}


#domanda {
    font-family: "Outfit", sans-serif;
    font-size: 45px;   
    text-align: center;
    margin-top: 3em;
    width: 80%;
    margin: 3em auto;
}

#domanda h3 {
    font-weight: 400;

}

section {
    display: inline-block;   
    margin: auto;
    width: 100%;
}
section div {
    padding-bottom: 2em;    
}

section button {
    margin-right: 2em;
    padding: 1.5em 7em;
    border-radius: 3em;
    background-color: rgba(255, 255, 255, 0.185);
    border: 1px solid white;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

section  button:hover {
    background-image: linear-gradient(#D20094, #900080);
    
}

#question {
    letter-spacing: 0.2em;
    font-weight: bold;
}

.footerCentrale {
    text-align: center;
    margin-top: 8em;
}


.contatore {
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #d20094;

}

/* PAGINA 3 */


.bottone {
    background-color: rgba(255, 0, 0, 0);
    padding: 0.8em 3em;
    border: 1px solid white;
    border-radius: 0%;
    cursor: pointer;
    margin: auto;
    margin-top: 3em;
}


.bottone a  {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}




div p {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
}

div h3 {
    margin-top: 2em;
    font-family: "Outfit", sans-serif;
    font-size: 50px; 
    font-weight: bold;
    text-align: center;
    color: white;

}

main section div {
    display: inline-block;
    margin: 0 3em;
}

main section div h4 {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-size: 45px;
    font-weight: 400;
}

main section div p {
    font-size: 20px;
}

/* PAGINA 4 */

#main4 {
    margin-top: 8em;
}

#title4 {
    width: 100%;
    text-align: center;
} 
h2 {
    margin-top: 2.5em;
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    margin-bottom: 0.2em;
}
.page4parag {
    font-size: 24px;
    margin-bottom: 1.5em;
}

#stars {
    text-align: center;
}
div svg {
    padding-left: 1em;
    background-color: transparent;
    
}
path:hover {
    cursor: pointer;
    fill: #00FFFF;
}

#footer4 {
    text-align: center;
    margin-top: 5em;
}
#form4 {
    margin-top: 6em;
}
#form4 input {
    display: block;    
    height: 3em;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2em;    
    padding-left: 25em;
    width: 100%;
    }

#form4 button {
    display: block;    
    margin: auto;
    margin-top: 4em;    
}
form div {
    border-top: solid #D20094;
    width: 58%;
    margin: auto;
}
