@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* PAGINA 1 */

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 3.5em 6em;
    font-family: "Inter", serif;
    font-weight: 300;
}

header img {
    width: 10%;
}

main h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin-top: 1.2em;
    line-height: 0.8;
}

main h3 {
    color: #d20094;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    margin-bottom: 0;
}

p {
    margin-top: 0.3em;
    margin-bottom: 2.5em;
}


ul {
    padding-left: 2em;
    line-height: 1.5;
    margin-bottom: 8em;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-right: 1em;
    border: solid 2px white;

}

input[type="checkbox"]:checked {
    appearance: auto;
}

footer input,
span,
button {
    vertical-align: middle;
}

form span {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10em;
}

.bottoni {
    padding: 0.8em;
    width: 11em;
    background-color: #00FFFF;
    color: #0B113B;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 0px 15px 2px rgba(0,255,255,0.86);
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0B113B;
}


/* PAGINA 2 */

#domanda {
    font-family: "Outfit", sans-serif;
    font-size: 40px;   
    text-align: center;
    width: 80%;
    margin: 2em auto;
    height: 3em;
}

#domanda h3 {
    font-weight: 400;
}

section {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    height: 20em;
}

section div {
    margin-top: 2em;
}

#div1 button, #div2 button {
    margin-right: 2em;
    padding: 1.5em;
    width: 250px;
    border-radius: 3em;
    background:
        linear-gradient(170deg, rgba(46, 46, 94, 0.8) 2%, rgba(46, 46, 94, 0.5)20%, rgba(46, 46, 94, 0.1)) padding-box,
        linear-gradient(170deg, #FFFEFE 2%, rgba(255, 255, 255, 0.5) 4%, transparent) border-box;
    border: 3px solid transparent;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

#div1 button:hover, #div2 button:hover {
    background-image: linear-gradient(#D20094, #900080);    
}

#question {
    letter-spacing: 0.2em;
    font-weight: bold;
}

.footerCentrale {
    text-align: center;
    margin-top: 2em;
}


.contatore {
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #d20094;
}



/* PAGINA 3 */
#bottone3{
    margin: auto;
    margin-top: 1em;
    padding: 0.6em;
    width: 11em;
    background: none;
    border: 3px solid white;
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#bottone3:hover {
    background-image: linear-gradient(#D20094, #900080);
} 


div p {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5em;
}

div h3 {
    margin-top: 2em;
    font-family: "Outfit", sans-serif;
    font-size: 40px; 
    font-weight: bold;
    text-align: center;
    color: white;

}

main section div {
    display: inline-block;
    margin: auto;
    width: 20%;
    vertical-align: middle;
}

main section div h4 {
    margin: auto;
    font-family: "Outfit", sans-serif;
    font-size: 40px;
    font-weight: 300;
}

CANVAS #graficoTorta {
    position: relative;
    margin: auto;
}

.percentuale, .percentuale1 {
    font-size: 45px;
    font-weight: 600;
    margin: auto;
}

#errato {
    text-align: center;
    display: inline-block;
    float: right;
}

#esatto {
    text-align: center;
    display: inline-block;
    float: left;
}

#contenitoreRisultati {
    text-align: center;
}

#formBottone {
    text-align: center; 
}

#contenitoreGrafico {
    width: 30%;
    min-width: 20vw;
    position: relative;
    text-align: center;
    display: inline-block;
}

#esitoGraficoTorta {
    height: 10%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#esitoGraficoTorta p {
    font-size: 100%;
}

#prova {
    width: 50%;
    margin: auto;
    box-sizing: border-box;
}

#esitoGraficoTorta :nth-child(1) {
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    margin-top: 1em;
}

#esitoGraficoTorta :nth-child(2) {
    font-size: 120%;
    color: #00FFFF;
    font-weight: bold;
    margin: 0;
}

#esitoGraficoTorta :nth-child(3){
    margin-top: 2.5em;
}

/* PAGINA 4 */

#main4 {
    margin-top: 8em;
}

#title4 {
    width: 100%;
    text-align: center;
}

h2 {
    margin-top: 2.5em;
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    margin-bottom: 0.2em;
}

.stars {
    text-align: center;
}

div svg {
    padding-left: 1em;
    background-color: transparent;
}

.stars svg path {
    cursor: pointer;
    transition: color 0.2s ease;
}

path.active {
    fill: #00FFFF;
}

path.hover {
    fill: #00FFFF;
}

#footer4 {
    text-align: center;
    margin-top: 5em;
}
#footer4 p {
    font-size: 20px;
    margin: auto;
}

#footer4 form {
    margin-top: 1em;
}

#footer4 form input {  
    height: 2.2em;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 0.9em;
    text-align: left;
    width: 55%;
    padding-left: 4em;
    margin: auto;
    }

#footer4 button {
    margin: auto;
    margin-top: 3em;    
}

#footer4 form div {
    border-top: solid #D20094;
    width: 53%;
    margin: auto;
}

/* timer tondo */
.countdown-container {
    font-size: 8px;
    float: right;
    text-align: center;

}


.countdown {

    position: relative;
    width: 60px;
    height: 100px;

}

.circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 10px solid lightgray;
    border-top: 10px solid #3498db;
    animation: countdown-animation 15s linear forwards;
    margin: 0 auto;
    position: relative;


}

@keyframes countdown-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




#time {

    position: absolute;
    top: 1.6em;
    left: 1.7em;                                 /*secondi del timer */
    transform: translate(-50%, -50%);
    font-size: 3.1em;


}

.timer-text {
    font-size: 1em;                        /*allineamento testo superiore e inferiore */
    position: absolute;
    width: 50%;
    text-align: center;
}

#timer-above {
    top: 2.2em;                  /*testo superiore*/
    left: 2.8em;
}

#timer-below {
    top: 6.4em;                  /*testo inferiore*/
    left: 2.5em;
}
